$text-small : 13px;
$text-medium : 15px;
$social-icon : 40px;
$text-gray : #757575;
$gray-100 : #f3f3f3;
$text-gray-200 : #d9d9d9;
$red : #dc3545;
$text-large : 25px;
$color-success : #8dca0d;
$bg-dark-100 : #494657;
$yellow : #fbb03b;
$children_loop : children;
